@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
  background-color: rgb(17, 17, 192);
  font-family: 'Fredoka One', cursive;
  color: white;
}
.pokemonList {
  margin: 0 50px;
  padding: 20px 0;
  background-color: #FF6B57;
  border: 5px solid #423B3B;
  text-transform: uppercase;
  letter-spacing: 10px;
  height: 300px;
  overflow-y: scroll;
}
.pokemonList ul {
  list-style-type: none;
}
.pokemonList li {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 0;
}
.pokemonDisplay {
  margin: 100px 50px 0 50px;
  height: 300px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6B57;
  border: 5px solid #423B3B;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.emptyScreen {
  background-color: white;
  width: 90%;
  height: 80%;
  border: 5px solid #423B3B;
}